@import "tailwindcss";

@theme{
  --color-primary: #0E0D13;
  --color-secondary: #3B5175;
  --color-default: #000000;
  --color-white: #ffffff;
  --color-gray-extrabold: #3B5175;
  --color-gray-semibold: #5D7CAF;
  --color-gray-neutral: #C4D4EF;
  --color-gray-light: #232C3B
}
